<div class="footer-background pt-5 ">
    <div class="container">
        <p class="footer-heading pt-3 font-family">MOVIES NOW SHOWING IN HYDERABAD</p>
      
       <a href="#" class="footer-link border-right font-family" >Doctor Strange:In the Mulltiverse Of Madness</a>
        <a href="#" class="footer-link border-right padding-left font-family"> K.G.F. Chapter 2</a>
        <a href="#" class="footer-link border-right padding-left font-family">Ashoka Vanam lo Arjuna Kalyanam</a>
        <a href="#" class="footer-link border-right padding-left font-family">Acharya</a>
        <a href="#" class="footer-link border-right padding-left font-family">Bhala Thandanana</a>
        <a href="#" class="footer-link border-right padding-left font-family">RRR</a>
        <a href="#" class="footer-link border-right padding-left font-family">Jayamma  Panchayathi</a>
        <a href="#" class="footer-link  padding-left font-family">Runway 34</a>
       
</div>
<div class="container  font-family">
<p class="footer-heading pt-3"> UPCOMING MOVIES IN HYDERABAD</p>
<a href="#" class="footer-link border-right ">Sarkaru Vaari Paata</a>
<a href="#" class="footer-link border-right padding-left">Kasturi Mahal</a>
<a href="#" class="footer-link border-right padding-left">Ranga</a>
<a href="#" class="footer-link border-right padding-left">Don</a>
<a href="#" class="footer-link border-right padding-left">Dharmaveer</a>
<a href="#" class="footer-link border-right padding-left">Adrushya</a>
<a href="#" class="footer-link border-right padding-left">Samrenu</a>
<a href="#" class="footer-link border-right padding-left">Jo & Jo</a>
<a href="#" class="footer-link border-right padding-left">Athyuttam</a>
<a href="#" class="footer-link border-right padding-left">Rish</a>
<a href="#" class="footer-link padding-left">X-Prem</a>
</div>
<div class="container font-family">
<p class="footer-heading pt-3"> MOVIES BY GENRE</p>
<a href="#" class="footer-link border-right">Drama Movies</a>
<a href="#" class="footer-link border-right padding-left">Action Movies</a>
<a href="#" class="footer-link border-right padding-left">Thriller Movies</a>
<a href="#" class="footer-link border-right padding-left">Romantic Movies</a>
<a href="#" class="footer-link border-right padding-left">Comedy Movies</a>
<a href="#" class="footer-link border-right padding-left">Adventure Movies</a>
<a href="#" class="footer-link border-right padding-left">Period Movies</a>
<a href="#" class="footer-link border-right padding-left">Crime Movies</a>
<a href="#" class="footer-link border-right padding-left">Sci-Fi Movies</a>
<a href="#" class="footer-link border-right padding-left">Supernatural Movies</a>
<a href="#" class="footer-link border-right padding-left">Tragedy Movies</a>
<a href="#" class="footer-link border-right padding-left">DevotionalMovies</a>
<a href="#" class="footer-link border-right padding-left">Mystery Movies</a>
<a href="#" class="footer-link border-right padding-left">Fantasy Movies</a>
<a href="#" class="footer-link border-right padding-left">Historical Movies</a>
<a href="#" class="footer-link  padding-left">Sports Movies</a>

</div>
<div class="container font-family">
    <p class="footer-heading pt-3">MOVIES BY LANGUAGE</p>
    <a href="#" class="footer-link border-right">Movies in Telugu</a>
    <a href="#" class="footer-link border-right padding-left"> Movies in English</a>
    <a href="#" class="footer-link border-right padding-left">Movies in Hindi</a>
    <a href="#" class="footer-link border-right padding-left"> Movies in Malayalam</a>
    <a href="#" class="footer-link border-right padding-left">Movies in Tamil</a>
    <a href="#" class="footer-link border-right padding-left"> Movies in Nepali</a>
    <a href="#" class="footer-link border-right padding-left">Movies in Tulu</a>
    <a href="#" class="footer-link border-right padding-left"> Movies in Japanese</a>
     <a href="#" class="footer-link border-right padding-left">Movies in Portuguese</a>
    <a href="#" class="footer-link border-right padding-left"> Movies in Chattisgarhi</a>
    <a href="#" class="footer-link border-right padding-left">Movies in Punjabi</a>
    <a href="#" class="footer-link border-right padding-left"> Movies in Konkani</a>
    <a href="#" class="footer-link border-right padding-left">Movies in Bengali</a>
    <a href="#" class="footer-link border-right padding-left"> Movies in Oriya</a>
    <a href="#" class="footer-link border-right padding-left">Movies in Urdu</a>
    <a href="#" class="footer-link padding-left"> Movies in French</a>
    </div>
    <div class="container font-family">
    <p class="footer-heading pt-3">
EVENTS IN HYDERABAD</p>
<a href="#" class="footer-link border-right">WorkShops
</a>
<a href="#" class="footer-link border-right padding-left">Comedy Shows</a>
<a href="#" class="footer-link border-right padding-left">Kids</a>
<a href="#" class="footer-link border-right padding-left">Music</a>
<a href="#" class="footer-link border-right padding-left">Spirituality</a>
<a href="#" class="footer-link border-right padding-left">Comedy Shows</a>
<a href="#" class="footer-link padding-left" >Screening</a>
</div>
 <div class="container font-family">
    <p class="footer-heading pt-3">CINEMAS IN TOP CITIES</p>
    <a href="#" class="footer-link border-right ">Cinemas in Mumbai</a>
    <a href="#" class="footer-link border-right padding-left">Cinemas in Delhi-NCR</a>
    <a href="#" class="footer-link border-right padding-left">Cinemas in Chennai</a>
    <a href="#" class="footer-link border-right padding-left">Cinemas in Bengalore</a>
    <a href="#" class="footer-link border-right padding-left">Cinemas in Hyderabad</a>
    <a href="#" class="footer-link border-right padding-left">Cinemas in Pune</a>
    <a href="#" class="footer-link border-right padding-left">Cinemas in Ahmedabad</a>
    <a href="#" class="footer-link border-right padding-left">Cinemas in Kolkata</a>
    <a href="#" class="footer-link padding-left">Cinemas in Kochi</a>
    
</div>
 <div class="container font-family">
    <p class="footer-heading pt-3">EVENTS IN TOP CITIES</p>
    <a href="#" class="footer-link border-right">Events in Mumbai</a>
    <a href="#" class="footer-link border-right padding-left">Events in Delhi-NCR</a>
    <a href="#" class="footer-link border-right padding-left">Events in Chennai</a>
    <a href="#" class="footer-link border-right padding-left">Events in Bengalore</a>
    <a href="#" class="footer-link border-right padding-left">Events in Hyderabad</a>
    <a href="#" class="footer-link border-right padding-left">Events in Pune</a>
    <a href="#" class="footer-link border-right padding-left">Events in Ahmedabad</a>
    <a href="#" class="footer-link border-right padding-left">Events in Kolkata</a>
    <a href="#" class="footer-link padding-left">Events in Kochi</a>
    
</div>
   <div class="container font-family">
    <p class="footer-heading pt-3">PLAYS IN TOP CITIES</p>
    <a href="#" class="footer-link border-right">Plays in Mumbai</a>
    <a href="#" class="footer-link border-right padding-left">Plays in Delhi-NCR</a>
    <a href="#" class="footer-link border-right padding-left">Plays in Chennai</a>
    <a href="#" class="footer-link border-right padding-left">Plays in Bengalore</a>
    <a href="#" class="footer-link border-right padding-left">Plays in Hyderabad</a>
    <a href="#" class="footer-link border-right padding-left">Plays in Pune</a>
    <a href="#" class="footer-link border-right padding-left">Plays in Ahmedabad</a>
    <a href="#" class="footer-link border-right padding-left">Plays in Kolkata</a>
    <a href="#" class="footer-link  padding-left">Plays in Kochi</a>
    
</div>
<div class="container font-family">
    <p class="footer-heading pt-3">ACTIVITIES IN TOP CITIES</p>
    <a href="#" class="footer-link border-right">Things to do in Mumbai</a>
    <a href="#" class="footer-link border-right padding-left">Things to do in Delhi-NCR</a>
    <a href="#" class="footer-link border-right padding-left">Things to do in Chennai</a>
    <a href="#" class="footer-link border-right padding-left">Things to do in Bengalore</a>
    <a href="#" class="footer-link border-right padding-left">Things to do in Hyderabad</a>
    <a href="#" class="footer-link border-right padding-left">Things to do in Pune</a>
    <a href="#" class="footer-link border-right padding-left">Things to do in Ahmedabad</a>
    <a href="#" class="footer-link border-right padding-left">Things to do in Kolkata</a>
    <a href="#" class="footer-link padding-left" >Things to do in Kochi</a>
    
</div>
<div class="container font-family">
    <p class="footer-heading pt-3">MOVIES IN TOP CITIES</p>
    <a href="#" class="footer-link border-right">Movies in Mumbai</a>
    <a href="#" class="footer-link border-right padding-left">Movies in Delhi-NCR</a>
    <a href="#" class="footer-link border-right padding-left">Movies in Chennai</a>
    <a href="#" class="footer-link border-right padding-left">Movies in Bengalore</a>
    <a href="#" class="footer-link border-right padding-left">Movies in Hyderabad</a>
    <a href="#" class="footer-link border-right padding-left">Movies in Pune</a>
    <a href="#" class="footer-link border-right padding-left">Movies in Ahmedabad</a>
    <a href="#" class="footer-link border-right padding-left">Movies in Kolkata</a>
    <a href="#" class="footer-link  padding-left">Movies in Kochi</a>
    
</div>
 <div class="container font-family">
    <p class="footer-heading pt-3">COUNTRIES</p>
    <a href="#" class="footer-link border-right">Indonesia</a>
    <a href="#" class="footer-link border-right padding-left">Singapore</a>
    <a href="#" class="footer-link border-right padding-left">UAE</a>
    <a href="#" class="footer-link border-right padding-left">Sri Lanka</a>
    <a href="#" class="footer-link padding-left" >West Indies</a>
</div>

<div class="container font-family">
   <p class="footer-heading pt-3">HELP</p>
   <a href="#" class="footer-link border-right">About us</a>
   <a href="#" class="footer-link border-right padding-left">Contact Us</a>
   <a href="#" class="footer-link border-right padding-left">Current Opening</a>
   <a href="#" class="footer-link border-right padding-left">Press Release</a>
   <a href="#" class="footer-link border-right padding-left">Press Coverage</a>
   <a href="#" class="footer-link border-right padding-left">Sitemap</a>
   <a href="#" class="footer-link border-right padding-left">FAQs</a>
   <a href="#" class="footer-link border-right padding-left">Terms and Conditions</a>
   <a href="#" class="footer-link padding-left ">Privacy Policy</a>
   
</div>
<div class="container font-family">
   <p class="footer-heading pt-3">BOOKMYSHOW EXCLUSIVES</p>
   <a  href="#" class="footer-link border-right ">Super Star</a>
   <a href="#" class="footer-link border-right padding-left">BookASmile</a>
   <a href="#" class="footer-link border-right padding-left">Corporate Vochers</a>
   <a href="#" class="footer-link border-right padding-left">Gift Cards</a>
   <a href="#" class="footer-link border-right padding-left">List My Show</a>
   <a href="#" class="footer-link border-right padding-left">Offers</a>
   <a href="#" class="footer-link border-right padding-left">Stream</a>
   <a href="#" class="footer-link border-right padding-left">Buzz</a>
   <a href="#" class="footer-link  padding-left">trailers</a>
   
</div>
 


 

  <footer class="footer ">
      <div>
      <div class="border-top1">
          <p></p>
          </div>
         <img src="../assets/images/logo.png" class="footer-logo mx-auto " alt="logo" />
         </div>
<div class="social-media-logo mx-auto">
  
<a href="#" class="fa fa-facebook font-size"></a>
<a href="#" class="fa fa-twitter font-size"></a>
<a href="#" class="fa fa-google font-size"></a>
<a href="#" class="fa fa-linkedin font-size"></a>
<a href="#" class="fa fa-youtube font-size"></a>
<a href="#" class="fa fa-instagram font-size"></a>
<a href="#" class="fa fa-pinterest font-size"></a>

</div>


<div class="pb-5 pt-5" >
    <p class="copy-rights mx-auto p-0 font-family"> Copyright 2022 &#169; Bigtree Entertainment Pvt.Ltd.AllRights Reserved.
  <br>The content and the images used are copyright protected and copyrights vests with the respective owners.The usage of the content and images is intended to promote the works and no endorsement of the artist shall be implied.
  <br>Unauthorised use is prohibited and punishable by law.</p>
</div>
  </footer>
  </div>
